<html>
	<head>
		<style>
			.item {
				max-width: 230px;
			}
		</style>
	</head>
<body>
	<h1><b>Formula 1</b></h1>
	<!--#echo var="DATE_LOCAL"-->
	<!--#include virtual="/app/comm"-->
	<!--#include virtual="/app/cities"-->

	<h3></h3>
		<div id="well-known"/>
		
		</div>
	<!--#include file="ads.html"-->
</body>
<template id="template">
  <div>
  	<table><tr><td>
<b>Days</b></td><td><b>daytime</b></td><td><b>afternoon</b></td></tr>

<tr><td>
Monday</td><td>+7</td><td>+3</td></tr>

<tr><td>
Tuesday</td><td>+5</td><td>+4</td></tr>

<tr><td>
Wednesday</td><td>+9</td><td>+7 </td></tr>

<tr><td>
Thursday</td><td>+5</td><td>+1</td></tr>

<tr><td>
Friday</td><td>+2</td><td>+3</td></tr>

<tr><td>
Saturday</td><td>+2</td><td>-1</td></tr>

<tr><td>
Sunday</td><td>+3</td><td>+5</td></tr>

</table></div><br><br />
    	<span>{{name}}</span>    	 
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"></script>
<script>
	var template = document.getElementById('template').innerHTML;
	var renderAuthors = Handlebars.compile(template);
	document.getElementById('well-known').innerHTML = renderAuthors({"weather": "+7"});
</script>
</html>
