<table border="2px">
	<tr>
	<td>
		<b>Attention, will be an exhibition</b></td></tr><tr><td>
		<br>There will be an exhibition of the artists represented in this article and their new works, do not miss this moment!</br></td></tr>
		<tr><td><br>Date: 31.12.2019</br>
	</td>
</tr>
</table>