<html>
	<head>
		<style>
			.item {
				max-width: 230px;
			}
		</style>
	</head>
<body>
	<h1><b>Street Art</b></h1>
	<!--#echo var="DATE_LOCAL"-->
	<!--#include file="ads.html"-->
	<!--#include virtual="/app/comm"-->
	<!--#include virtual="/app/foto"-->
	<!--#include virtual="/app/opinion"-->
	<h3></h3>
		<div id="well-known"/>
		
		</div>
	<!--#include file="comm.html"-->
</body>
<template id="template">
<div>
{{#each authors}}
<div>{{name}} {{opinion}} {{date}}</div>
{{/each}}
</div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js"> </script>
<script>
var template = document.getElementById('template').innerHTML;
var renderAuthors = Handlebars.compile(template);
document.getElementById('well-known').innerHTML = renderAuthors({authors: [{"name": "name9020"}]});

</script>
</html>
